
body{
    background-color: black;
    color:bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0
}
#possession-viewer-container{
    display: grid;
    grid-template-columns: 95vw 5vw;
    grid-template-rows: 95vh 5vh;
    grid-template-areas: "pv nt"
                         "pc nt";
    align-items: center;
    justify-content: center;
}
#possession-viewer{
    display: grid;
    grid-area: pv;
    grid-template-columns: 5vw 20vw 10vw 20vw 10vw 20vw 5vw ;
    grid-template-rows: 10vh 25vh 30vh 25vh 5vh;
    grid-template-areas:
                        "pn t1 s1 ti s2 t2 nc"
                        "nd xx xx xx xx xx ne"
                        "lb xx xx xx xx xx rb"
                        "nf xx xx xx xx xx ng"
                        "pp hd hd hd hd hd ps";
    align-items: center center;
    justify-content: center;
    background-color: black;
    /* border-color: bisque;
    padding:10px;
    border-width: 5px;
    border-style:solid; */
} 

.cntr{align-self: center; align-items: center; justify-content: center; justify-self: center; justify-items: center;}
#description-header{grid-area: hd; align-self: center; justify-self: center; font-size: 0.9rem;}
#left-button{grid-area: lb; opacity: 0.1; transform: translateX(50%); }
#right-button{grid-area: rb; opacity: 0.1; transform: translateX(-50%);}
#team-one{grid-area: t1;}
#team-two{grid-area: t2;}
#score-one{grid-area:s1;}
#score-two{grid-area:s2;}
#information{grid-area: pn;}
#game-info{display:flex; font-size:0.75em;}
#gametime{grid-area: ti;}
#gamenumber{ font-size:1em;}
#display-wrapper{position:relative; grid-area: xx; width: 100%; height: 100%;}
#display{ 
    position: absolute;
    /* grid-area: xx; */
    top: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
/* #notes-taker{
    
    width: 100%;
    height: 100%;
    align-items: top;
}
.notes-type{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evenly;
    justify-self: space-evenly;
    margin-top: 10px;
}

#bug-note{
    border-style: solid;
    justify-self: center;
    width: 100%;
    border-radius: 20%;
    padding:7px;
    color: red;
    opacity: 85%;
    text-align: center;
     margin-left: 10px;
}
#note-note{
    border-style: solid;
    border-radius: 20%;
    width: 100%;
    padding:7px;
    color: yellow;
    opacity: 85%;
    text-align: center;
    margin-left: 10px;
}
#field-note{
    border-style: solid;
    border-radius: 20%;
    width: 100%;
    padding:7px;
    color: green;
    opacity: 85%;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    
} */