<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>grafic desine is my pashun-possession viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='game_dir.css') }}">
  </head>
  <body>
    <h1> Game Viewer</h1>
  <div id = game-dir>
  </div>
  <script src="{{ url_for('static', filename='game_dir.js') }}"></script>
  </body>
</html>

